http:
  port: 3000
  path: '/'

twitter:
  environmentName: 'YOUR_ENVIRONMENT_NAME'
  consumerKey: 'YOUR_CONSUMER_KEY'
  consumerSecret: 'YOUR_CONSUMER_SECRET'
  accessToken: 'YOUR_ACCESS_TOKEN'
  accessTokenSecret: 'YOUR_ACCESS_TOKEN_SECRET'
